---
import Button from "./Button.astro";
const {class: classes} = Astro.props;
---

<Button href="#install" class={classes + " install-button"}>
  <slot />
</Button>

<Button href="#" class={classes + " back-button"}>
  <slot />
</Button>