<details class="text-center">
  <summary
    class="
      bg-nq-black
      ring-1 ring-gray-700
      font-medium
      h-10
      flex
      justify-center
      items-center
      hover:cursor-pointer
      rounded-sm
    "
  >
    {Astro.props.title}
  </summary>
  
  <div class="mt-2">
    <slot />
  </div>
</details>


