---
import InstallButton from "./InstallButton.astro";
---

<nav class="nav-area p-4 flex justify-center items-center gap-x-16 leading-10 md:flex-row flex-col">
    <a href="/" class=" lg:mr-36">
        <img class="w-36" src="/assets/logo.svg" alt="Cumcord">
    </a>

    <div class="md:contents gap-x-16 flex mt-4 flex-wrap">
        <a href="https://docs.cumcord.com">Docs</a>
        <a href="https://dump.cumcord.com">Plugins</a>
        <a href="https://hg.sr.ht/~creatable/Cumcord">Code</a>
        <a href="https://discord.gg/FhHQQrVs7U">Discord</a>
    </div>

    <InstallButton class="md:inline-block hidden leading-none lg:ml-36 w-36 h-10">Cum</InstallButton>
</nav>