---
import "../styles.sass";
import "@unocss/reset/tailwind.css";
import "uno.css"
---
  
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Cumcord - {Astro.props.title}</title>
  </head>

  <body class="text-white">
    <slot />
  </body>
</html>